@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sergio Andrés Milla Cano<br />
    Guatemala, Guatemala<br />
    <abbr title="Phone">P:</abbr>
    5779-3686
</address>

<address>
    <strong>Support:</strong>   <a>andresmilla11@gmail.com</a><br />
</address>